# Dependencias básicas
numpy>=1.20.0
pandas>=1.3.0
nibabel>=3.2.0
h5py>=3.6.0
tqdm>=4.62.0
pydicom>=2.2.0
dicom2nifti>=2.3.0
scikit-learn>=1.0.0

# Dependencias para visualización
matplotlib>=3.5.0
seaborn>=0.11.2

# Dependencias para redes neuronales
torch>=1.10.0
torchvision>=0.11.0
torchio>=0.18.0
monai>=0.9.0

# Herramientas de logging y experimentación
wandb>=0.15.0

# Testing
pytest>=7.3.1
hypothesis>=6.72.1
pytest-cov>=4.1.0

# Pipeline de ZenML
zenml>=0.40.0

# Airflow y sus dependencias
# apache-airflow>=2.5.0
# apache-airflow-providers-http>=2.0.0
# apache-airflow-providers-cncf-kubernetes>=4.0.0

# Opciones para GPU
# Descomenta estas líneas si necesitas soporte para CUDA específico
# torch-cuda>=11.7.0
# monai-cuda>=0.8.0

einops>=0.3.2
